{% extends "base.html" %}

{% block content %}

<h1>{{session.get('titulo')}}</h1>
<form action="{{ url_for('operacao') }}" method="POST">
  <table>
    <tr>
      <td>Primeiro número:</td>
      <td><input type="text" name="numero1" value=""></td>
    </tr>
    <tr>
      <td>Segundo número:</td>
      <td><input type="text" name="numero2" value=""></td>
    </tr>
    <tr>
      <td>Operação:</td>
      <td>
        <select name="operacao">
          <option value="soma">Soma</option>
          <option value="subtracao">Subtração</option>
          <option value="multiplicacao">Multiplicação</option>
          <option value="divisao">Divisão</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" name="submit"></td>
    </tr>
  </table>
</form>

{% endblock %}